@import "../uqlibrary-elements/resources/theme/element";

:host {
}

paper-progress {
  height: 20px;
  width: 100%;
}

#availability {
  margin-top: $list-item-gap;
  padding: $text-padding;
}

#branchSelect {
  padding: 7px;
  width: 100%;
}

#branches {
  width: 100%;
}

.available {
  color: $uq-green-A700;
}

.unavailable {
  color: $uq-warm-red;
}

paper-dropdown::shadow #scroller {
  width: 100% !important;
}

#branchWrapper {
  width: 96%;
  margin: $list-item-gap;
  transition: 300ms ease-in-out;
}

.availability-item {
  border-bottom: 1px solid $grey-A100;
  padding: 4px;
  line-height: 1.2;

  .totals {
    float: right;
    font-size: 14px;
    color: $secondary-text;
  }
}
